@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Android";
    src: url(fontes/idroid.otf);
}

:root{
    --cor1:#c5ebd6;  
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrao:'Verdana', 'Helvetica' , 'sans-serif';
    --fonte-destaque: 'Bebas neue','cursive' ;
    --fonte-android: 'Android';
}


*{
    padding: 0%;
    margin: 0%;
}

a.externo::after{
    content: "\1F517";
}

main p{
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2em;
    text-indent: 2em;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 3% 0% 4% 0%;
    background-image: linear-gradient(to bottom ,#3ddc84,#1a5c37)
}

header h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.493);
}

header p{
    margin-top: 20px;
    font-size: 1.2em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.493);
}

nav{
    background-color: var(--cor5);    
    padding: 8px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.212);
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: bolder;
    border-radius: 5px;
}

nav > a:hover{
    background-color: #83e1ad;
    color: #1a5c37;
    transition: 0.5s;
}


h2#android {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: 100;
}

#and{
    background-image: linear-gradient(to right,var(--cor2),transparent);
    font-family: 'android';
    color: var(--cor5);
    
}


main h2 {
    font-family: "android";
    color: var(--cor5);
    background-image: linear-gradient(to right,var(--cor2),transparent)
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    text-align: justify;
    box-shadow: 0px 2px 0px 2px  rgba(0, 0, 0, 0.064);
}

main strong {
    color: var(--cor5);
}

main  a {
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor6);
    font-weight:bolder ;
    padding: 3px;
}


img{
    width: 100%;
}

picture > img{
    width: 100%;
}

.video{
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 30px;
    padding-bottom: 56%;

    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside h3{
    background-color: var(--cor4);
    color: white;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    font-size: 1.2em;
    margin: -4px;
}

aside{
    background-color: var(--cor2);
    border-radius: 7px;
    padding: 5px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.219);
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714';
}

aside > p >a {
    background-color: #c5ebd6;
}

footer{
    text-align: center;
    color: white;
    background-color: var(--cor6);
}